* {
    font-family: "JetBrainsMono Nerd Font", FontAwesome, sans-serif;
    font-size: 14px;
    font-weight: bold;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

.modules-right, .modules-center, .modules-left {
    margin: 10px 10px 0px 10px;
}

#workspaces,
#idle_inhibitor,
#cava,
#scratchpad,
#mode,
#window,
#clock,
#battery,
#backlight,
#wireplumber,
#tray,
#mpris,
#load,
#cpu,
#memory {
    background-color: rgba(20, 20, 20, 0.6);
    color: #eeeeee;
    padding: 5px 15px;
    margin: 0 4px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

#workspaces {
    background-color: rgba(20, 20, 20, 0.6);
    padding: 0px;
}

#workspaces button {
    padding: 0 10px;
    background-color: transparent;
    color: #aaaaaa;
    border-radius: 10px;
    transition: all 0.3s ease;
}

#workspaces button:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    box-shadow: none;
}

#workspaces button.focused {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
    min-width: 30px;
}

#workspaces button.urgent {
    background-color: #555555;
    color: #ffffff;
}


#battery.charging, #battery.plugged {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffffff;
}

#battery.critical:not(.charging) {
    background-color: rgba(255, 255, 255, 0.2);
    color: #ffaaaa;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        background-color: rgba(255, 255, 255, 0.4);
        color: #000000;
    }
}

#wireplumber.muted {
    background-color: rgba(20, 20, 20, 0.8);
    color: #777777;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}
#tray > .needs-attention {
    -gtk-icon-effect: highlight;
}
