kkk* {
    background-image: none;
    font-family: "JetBrainsMono Nerd Font";
}

window {
    background-color: rgba(30, 30, 46, 0.85); 
}

button {
    color: #cdd6f4;
    background-color: #313244;
    border-style: solid;
    border-width: 2px;
    border-color: #313244; 
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25%;
    border-radius: 15px;
    box-shadow: none;
    text-shadow: none;
    margin: 10px;
    transition: all 0.2s ease;
}

button:hover {
    background-color: #89b4fa; 
    color: #1e1e2e;
    border-color: #cdd6f4;
}

button:focus {
    background-color: #313244;
    color: #cdd6f4;
    border-color: #313244;
    outline: none;
}

button:active {
    background-color: #89b4fa; 
    color: #1e1e2e;
    border-color: #cdd6f4;
}

#lock {
    background-image: image(url("/usr/share/wlogout/icons/lock.png"));
}

#logout {
    background-image: image(url("/usr/share/wlogout/icons/logout.png"));
}

#suspend {
    background-image: image(url("/usr/share/wlogout/icons/suspend.png"));
}

#hibernate {
    background-image: image(url("/usr/share/wlogout/icons/hibernate.png"));
}

#shutdown {
    background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}

#reboot {
    background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}
